notes.txt

# Terraform-related files that should be ignored to prevent sensitive information from being exposed
*.json
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/.terraform/

.env